@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
* {
  font-family: "Titillium Web", sans-serif;
}
.countDownContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.clock-column {
  margin-right: 2rem;
  /* margin-top: 1rem; This is commented out because we are now displaying the eventName on the top*/
  text-align: center;
  position: relative;
}

.clock-label {
  color: #131313;
  text-align: center;
  border-top: 1px solid rgba(19, 19, 19, 0.5);
  /* margin-top: -9px; */
}

.clock-timer {
  color: #131313;
  margin: 0rem !important;
  font-size: 25px;
}
.eventNameDisplayer {
  /*To display eventName on the top of eventBox, we use the below styling*/
  border-bottom: 1px solid rgba(19, 19, 19, 0.5);
  width: 100px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
