@import url("https://fonts.googleapis.com/css2?family=Piazzolla&family=Teko&display=swap");

table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
#timeDisplayArea {
  font-size: 50px;
  font-family: "Teko", sans-serif;
  text-decoration: underline;
}
#ETA_Labels {
  font-family: "Piazzolla", serif;
}
#eventNameDisplayer {
  font-family: "Piazzolla", serif;
}
